.app{
  display: grid;
  place-items: center;
  background-color:black;
  height: 90vh;
}



.app__body{
  display: flex;
  
  background-color: #c0bcbc;
  margin-top:0;
  height: 94vh;
  width: 90vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 1);
}