.login{
    height: 94vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.login__container{
    padding: 100px;
    text-align: center;  
    transition: 500ms; 
    
    animation-name: flick;
    animation-iteration-count: infinite;
     
    animation-duration: 2s;
        
}
.login__container > img{
    width: 50px;
}
.login__container:hover{
    animation-play-state:paused; 
   
}
.login > Button:active{
    transform:skewY(5) !important;
    color: cornflowerblue !important;
   
    
}
.login > Button:hover{

    box-shadow:0 0 50px 0 rgba(255, 255, 255, 0.451);
}
 


.login > Button{
    color: rgb(255, 255, 255) !important;
    margin: 100px !important;
    text-transform: inherit !important;
    
    
    
}
@keyframes flick {
    from {
        box-shadow:0 0 10px 0 rgba(251, 5, 5, 0.354);
    }
  
    to {
        box-shadow:0 0 10px 0 rgba(255, 255, 255, 0.382);
    }
  }
  